img, embed, object, video{
	max-width: 100%;
}

.tappable{
	min-width: 48px;
	min-height: 48px;
}

body{
	background-color: #171717;	
}

.header{
	max-width: 100%;
	background: url('../images/female_1.jpeg');
	background-size: cover;
	background-repeat: no-repeat;
	padding: 10px;
}

.logo{
	max-width: 50%;
	max-height: 25%;
	margin: 0 auto;
	text-align: center;
}

.slides{
	padding-top: 5px;
}

.social, .book-app{
	padding: 15px;
	margin: 0 auto;
	text-align: center;
	font-size: 5vw;
}

.social a{
	padding: 20px;
	min-width: 48px;
	min-height: 48px;
}

.book-app{
	font-weight: bold;
}

.book-app a{
	width: 100%;
}

.fa {
    text-align: center;
    text-decoration: none;
    border-radius: 50%;
}


.fa:hover {
    opacity: 0.7;
}

.fa-facebook {
    color: #3B5998;
}

/* Twitter */
.fa-twitter {
    color: #55ACEE;
    /*color: white;*/
}

.fa-instagram {
    color: #B6318A;
}

a{
    text-decoration: none;
}

.important-item{
	font-size: 4vw;
}

.contact{
	display: inline-block;
	color: white;
	width: 100%;
	font-family: 'Lato', sans-serif;
	font-size: 2vw;
}


.address{
	float: left;
	max-width: 60%;
	overflow: auto;
	font-size: 1.5em;
}

.phone{
	float: right;
	max-width: 40%;
	overflow: auto;
	/*display: unset;*/
}

.fa.fa-phone{
	display: unset;
}

.fa-phone{
    padding: 5px;
    max-width: 100%;
    overflow: auto; 
}

/*slides*/
.rslides {
  position: relative;
  list-style: none;
  overflow: hidden;
  width: 100%;
  padding: 0;
  margin: 0;
  }

.rslides li {
  -webkit-backface-visibility: hidden;
  position: absolute;
  display: none;
  width: 100%;
  left: 0;
  top: 0;
  }

.rslides li:first-child {
  position: relative;
  display: block;
  float: left;
  }

.rslides img {
  display: block;
  height: auto;
  float: left;
  width: 100%;
  border: 0;
  }
